{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-native",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/jsx-curly-brace-presence": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react-native/no-inline-styles": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
